{% extends 'layout.html' %}
{% block content %}

<link rel="stylesheet" href="/stylesheets/mundo_tenis.css">

<h2 id="pistas">Registrar nuevo Usuario</h2>

<form action="{{ url_for('usuarios.create') }}" method="POST">
    <label for="username">Nombre de usuario (Username):</label>
    <input type="text" id="username" name="username" placeholder="Ej: rafa_fan86" required/>

    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" placeholder="Ej: contacto@tenis.es" required/>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required/>

    <input type="submit" value="Crear Usuario">
</form>

{% endblock %}