{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="/stylesheets/home.css">

<div id="galeria-pricipal" class="galeria-tenis">
    <div class="imagen-container">
        <img src="/images/ausopen.png" alt="Wimbledon">
    </div>

    <div class="imagen-container">
        <img src="/images/rg.jpg" alt="Wimbledon">
    </div>

    <div class="imagen-container">
        <img src="/images/wb.jpg" alt="Wimbledon">
    </div>

    <div class="imagen-container">
        <img src="/images/usopen.jpg" alt="Australian Open">
    </div>
</div>

<p class="sobre">
    En Mundo Tenis encontrarás distinta información sobre:
</p>
<ul>
    <li>Distintos jugadores del circuito</li>
    <li>Diferentes pistas que incluyas a tu mundo</li>
    <li>Imagenes de grandes partidos para la historia</li>
    <li>Imagenes de actualidad de tenis</li>
    <li>Y mucho más!</li>
</ul>

<p class="about">
    Convierte esta web en tu archivo personal de tenis: el lugar perfecto para coleccionar a los jugadores que 
    has admirado y las pistas donde has vivido la emoción del juego, ya sea desde la grada o en la red. 
</p>

{% endblock %}